.nav{
    background: var(--light-beige) !important;
}

.nav__button{
    border: none;
}

.nav__link{
    font-family: "Archivo Narrow Regular", sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-top: 0.5rem;
}

.nav__item:last-child{
    margin-bottom: 2rem;
}

.nav__item--active > .nav__link{
    color: var(--primary) !important;
}

@media(min-width: 576px){
    .nav{
        padding: 0.5rem 3rem;
    }

    .nav__link, .nav__item:last-child{
        margin: 0px;
    }
}